<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.day03.homework.work1.OnetoOneMapper">
	<resultMap type="Wife" id="WifeResult">
		<id property="id" column="id"/>
		<id property="name" column="name"/>
		<id property="age" column="age"/>
		<association property="husband" resultMap="HusbandResult"></association>
	</resultMap>
	<resultMap type="Husband" id="HusbandResult">
		<id property="id" column="id"/>
		<id property="name" column="name"/>
		<id property="age" column="age"/>
	</resultMap>
	
	<parameterMap type="Wife" id="WifeParameter">
		<parameter property="id"/>
		<parameter property="name"/>
		<parameter property="age"/>
		<parameter property="husband.id"/>
	</parameterMap>
	
	<insert id="addWife" parameterMap="WifeParameter">
		insert into wife(id,name,age,h_id)
		values(#{id},#{name},#{age},#{husband.id})
	</insert>
	
	<insert id="addHusband" parameterType="Husband">
		insert into husband(id,name,age)
		values(#{id},#{name},#{age})
	</insert>
	
	<select id="selectHusband" resultMap="HusbandResult" parameterType="int">
		select * from husband
		where id=#{id}
	</select>
	
	<select id="selectWife" resultMap="WifeResult" parameterType="int">
		select * from wife
		where id=#{id}
	</select>
	
</mapper>