<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.day04.CourseMapper">
	<resultMap type="Course" id="CourseResult">
		<id property="id" column="course_id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="startDate" column="start_date" />
		<result property="endDate" column="end_date" />
		<!-- <association property="tutor" resultMap="TutorResult" column="tutor_id"></association> -->
	</resultMap>

	<resultMap type="Tutor" id="TutorResult">
		<id property="id" column="tutor_id" />
		<result property="name" column="name" />
	</resultMap>

	<select id="selectCourseIf" resultMap="CourseResult"
		parameterType="Map">
		select course_id,name,description,start_date,end_date
		from course
		where
		course_id=#{courseId}
		<if test="courseName!=null">
			and name like #{courseName}
		</if>
		<if test="startDate!=null">
			and start_date <![CDATA[<=]]>
			#{startDate}
		</if>
		<if test="endDate!=null">
			and end_date <![CDATA[>=]]>
			#{endDate}
		</if>
	</select>

	<select id="selectCourseChoose" resultMap="CourseResult"
		parameterType="map">
		select course_id,name,description,start_date,end_date
		from course
		<choose>
			<when test="searchBy=='Tutor'">
				where tutor_id=#{tutorId}
			</when>
			<when test="searchBy=='CourseName'">
				where name like #{courseName}
			</when>
			<otherwise>
				where start_date <![CDATA[<=]]>
				sysdate
			</otherwise>
		</choose>
	</select>
	<select id="selectCourseWhere" resultMap="CourseResult"
		parameterType="map">
		select course_id,name,description,start_date,end_date
		from course
		<where>
			<if test="tutorId != null">
				tutor_id = #{tutorId}
			</if>
			<if test="courseName != null">
				and name = #{courseName}
			</if>
			<if test="startDate != null"> 
				and start_date <![CDATA[ <= ]]> #{startDate} 
			</if> 
			<if test="endDate != null"> 
				and end_date <![CDATA[ >= ]]> #{endDate} 
			</if> 
		</where>
	</select>
</mapper>